@import '../../styles/colors';

#graph .terminal {
  position: absolute;
  display: flex;
  align-items: center;
  width: 20px;
  height: 30px;
  cursor: cell;
  z-index: 12;
  > .disc {
    width: 8px;
    height: 14px;
    border: 2px solid black;
    background-image: linear-gradient(0deg, #88f 0%, #335 20%, #aaa 100%);
    z-index: 5;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .4);
    pointer-events: none;
  }

  &.in {
    justify-content: flex-end;
    > .disc {
      border-radius: 6px 0 0 6px;
    }
    > .caption {
      right: 10px;
    }
  }

  &.out {
    justify-content: flex-start;
    > .disc {
      border-radius: 0 6px 6px 0;
    }
    > .caption {
      left: 8px;
    }
  }

  &.active > .disc {
    background-image: linear-gradient(0deg, #8cf 0%, #385 20%, #afa 100%);
  }

  > .caption {
    position: absolute;
    color: $terminalCaption;
    top: -11px;
  }
}
