$panelBg: #ccd;
$graphBg: #667;

$listBg: lighten($panelBg, 5%);
$listBgHover: lighten($listBg, 5%);
$listBgSelected: darken($listBg, 10%);

$controlBorder: #444;
$comboBg: darken($panelBg, 8%);

$terminalCaption: #eee;

$connectorStroke: #4c4;
$connectorOutlineStroke: #000;
$connectorShadowStroke: #000;
