@import '../styles/colors';

#property-panel {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 330px;
  background-color: $panelBg;

  > .property-editor {
    > header {
      text-align: center;
      font-weight: bold;
      margin-bottom: 8px
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;

    > .property-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;
    }
  }

  > .node-actions {
    display: flex;
    margin: 4px 4px 0 4px;

    .spacer {
      flex: 1;
    }

    button {
      border-collapse: collapse;
    }
  }

  > .rendered-image {
    margin: 4px;
    border: 1px solid black;
  }
}
