@import '../styles/colors';

#property-panel {
  display: flex;
  flex-direction: column;
  width: 30%;
  max-width: 330px;
  background-color: $panelBg;

  > .property-editor {
    > header {
      text-align: center;
      font-weight: bold;
      margin-bottom: 4px
    }

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    flex: 1;
    padding: 8px;
    overflow-y: auto;
    overflow-x: hidden;

    > .property-group, > .image-property {
      display: flex;
      flex-direction: column;
      margin-bottom: 4px;
      margin-top: 4px;
      flex-shrink: 0;

      > header {
        display: inline-flex;
        position: relative;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        background-color: lighten(#aab, 5%);
        justify-content: center;
        border: 1px solid $controlBorder;
        border-top: 1px solid $controlBorder;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        overflow: hidden;
        user-select: none;
      }
    }

    > .image-property > button {
      justify-content: flex-start;
    }

    > .color-property > header {
      text-align: center;
      margin-bottom: 4px;
    }
  }

  > .node-actions {
    display: flex;
    margin: 4px 4px 0 4px;

    .spacer {
      flex: 1;
    }

    button {
      border-collapse: collapse;
      padding: 0 10px;
    }
  }

  > .rendered-image {
    margin: 4px;
    border: 1px solid black;
  }
}
